* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 25px;
  font-family: "Helvetica Neue", sans-serif;
}

.calculator {
  background: black;
  width: 563px;
  height: 1218px;
  border-radius: 50px;
  padding: 20px;
  color: white;
}

.top-container {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.display {
  font-size: 130px;
  font-weight: 300;
  margin-bottom: 20px;
  height: 158px;
  text-align: right;
  margin-right: 20px;
}
