* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  background-color: #14bdac;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
}

.title span {
  color: #f2ebd3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #f2ebd3;
}

.game-grid {
  background: #0da192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background: #14bdac;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 200px;
  background: #14bdac;
  cursor: pointer;
}

.used {
  pointer-events: none;
}

.x::after {
  content: "×";
  font-size: 200px;
}

.o::before {
  content: "○";
  font-size: 225px;
}
